.toast-positioned{
    position: fixed; 
    bottom: 0; 
    right: 0; 
    min-height: 50px; 
    min-width: 300px; 
    z-index: 3; 
}
.main-content{
    padding-bottom: 6rem;
    padding-top: 4rem;
}